body {
    font-family: 'Open Sans', sans-serif;
	margin:0;
}

.header .navbar{
	background-color:#1b365b;
	margin-bottom: 0px;
}
.header .navbar a,
.header .navbar-default .navbar-nav>li>a {
	color:#ffffff;
    display: block;
}
.header .navbar a:hover,
.header .navbar-default .navbar-nav>li>a:hover {
	color:#3264a8;
}
span.header-animation{
  animation: header-link 4s ease-out infinite;
}

.navbar-default {
	border:none;
}
.carousel-inner>.item>img {
	width:100%;
}
.slider .carousel-caption h2{
  margin-top: 0.3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:#181e24;
  font-weight: 700;
  position: relative;
  text-shadow: 0 2px 5px #2e3a46;
}
.slider .carousel-caption
{
    height:100%;
}

.we{
    background-color: #ffd800;
}
.we hr{
    border: 2px solid #1b365b;
}
.we p{
    color: #1b365b;
    margin-bottom: 20px;
    margin-top: 20px;
}
.price{
	background-image: url(../images/uslugi.png);
}
.price .thumbnail {
  background-color: transparent;
  border: none;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 0;
}
.price .thumbnail h2{
	font-size: 16px;
}
.price .thumbnail p{
	margin-top: 10px;
	font-size: 24px;
}

.price .thumbnail p.old,
.price .thumbnail p.new{
	display: inline-block;
}
.price .thumbnail .old small{
	color: #333;
}
.price .thumbnail .new,
.price .thumbnail .new small{
	color: #f72000;
}
.price .btn {
	padding: 10px 30px;
}
.price a.btn{
	text-transform: uppercase;
}


.footer{
    background-color: #1b365b;
}
.footer h2,
.footer p{
    color:#ffffff;
    text-align: center;
}

.footer p{
    margin-top: 1em;
}

@keyframes header-link {
  0%, 100% {
    color: #ffd800;
  }
  50% {
    color: #ffffff;
  }
}

@media (max-width: 460px) {
	.slider>.carousel{
		display:none;
	}
	.slider{
		height:569px;
		width:100%;
		background:url(../images/slider/slider1.jpg) no-repeat  center center;
		background-size: cover;
	}
	.slider .carousel-caption>h2{
		display:block;
	}
	.header .navbar a,
    .header .navbar-default .navbar-nav>li>a {
	    font-size:12px;
    }
}

@media (max-width: 990px) {
	    .slider .carousel-caption>h2{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .we p,
    .we hr{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .we p:nth-child(1){

        margin-top: 20px;
    }
    .header .navbar a,
    .header .navbar-default .navbar-nav>li>a {
	    font-size:14px;
    }
    .slider .carousel-caption>h2{
        font-size: 18px;
    }
}
